<header class="header">
</header>

<div class="container app-page questionnaire2-page ">

    <div class="row">
        <div class="col-lg-12  col-md-12  col-sm-12 col-xs-12 text-center">
            <h4>{{$ctrl.result.question.title}}</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="panel panel-default ">
                <div class="panel-body">

                    <div class="panel panel-default panel-margin">
                        <div class="panel-body panel-body-padding">
                            <div class="row">
                                <div class="col-lg-11  col-md-11  col-sm-10 col-xs-12">
                                    <p>
                                        {{$ctrl.result.question.options[0]}}
                                    </p>
                                </div>
                                <div class="col-lg-1  col-md-1  col-sm-2 col-xs-12 question-select">
                                    <select ng-model="$ctrl.val1" ng-options="val for val in $ctrl.valuesOption"
                                            class="form-control input-sm">
                                        <option value="">0</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default panel-margin">
                        <div class="panel-body panel-body-padding">
                            <div class="row">
                                <div class="col-lg-11  col-md-11  col-sm-10 col-xs-12">
                                    <p>
                                        {{$ctrl.result.question.options[1]}}
                                    </p>
                                </div>
                                <div class="col-lg-1  col-md-1  col-sm-2 col-xs-12 question-select">
                                    <select ng-model="$ctrl.val2" ng-options="val for val in $ctrl.valuesOption"
                                            class="form-control input-sm">
                                        <option value="">0</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default panel-margin">
                        <div class="panel-body panel-body-padding">
                            <div class="row">
                                <div class="col-lg-11  col-md-11  col-sm-10 col-xs-12">
                                    <p>
                                        {{$ctrl.result.question.options[2]}}
                                    </p>
                                </div>
                                <div class="col-lg-1  col-md-1  col-sm-2 col-xs-12 question-select">
                                    <select ng-model="$ctrl.val3" ng-options="val for val in $ctrl.valuesOption"
                                            class="form-control input-sm">
                                        <option value="">0</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default panel-margin">
                        <div class="panel-body panel-body-padding">
                            <div class="row">
                                <div class="col-lg-11  col-md-11  col-sm-10 col-xs-12">
                                    <p>
                                        {{$ctrl.result.question.options[3]}}
                                    </p>
                                </div>
                                <div class="col-lg-1  col-md-1  col-sm-2 col-xs-12 question-select">
                                    <select ng-model="$ctrl.val4" ng-options="val for val in $ctrl.valuesOption"
                                            class="form-control input-sm">
                                        <option value="">0</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default panel-margin">
                        <div class="panel-body panel-body-padding">
                            <div class="row">
                                <div class="col-lg-11  col-md-11  col-sm-10 col-xs-12">
                                    <p>
                                        {{$ctrl.result.question.options[4]}}
                                    </p>
                                </div>
                                <div class="col-lg-1  col-md-1  col-sm-2 col-xs-12 question-select">
                                    <select ng-model="$ctrl.val5" ng-options="val for val in $ctrl.valuesOption"
                                            class="form-control input-sm">
                                        <option value="">0</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default panel-margin">
                        <div class="panel-body panel-body-padding">
                            <div class="row">
                                <div class="col-lg-11  col-md-11  col-sm-10 col-xs-12">
                                    <p>
                                        {{$ctrl.result.question.options[5]}}
                                    </p>
                                </div>
                                <div class="col-lg-1  col-md-1  col-sm-2 col-xs-12 question-select">
                                    <select ng-model="$ctrl.val6" ng-options="val for val in $ctrl.valuesOption"
                                            class="form-control input-sm">
                                        <option value="">0</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default panel-margin">
                        <div class="panel-body panel-body-padding">
                            <div class="row">
                                <div class="col-lg-11  col-md-11  col-sm-10 col-xs-12">
                                    <p>
                                        {{$ctrl.result.question.options[6]}}
                                    </p>
                                </div>
                                <div class="col-lg-1  col-md-1  col-sm-2 col-xs-12 question-select">
                                    <select ng-model="$ctrl.val7" ng-options="val for val in $ctrl.valuesOption"
                                            class="form-control input-sm">
                                        <option value="">0</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default panel-margin">
                        <div class="panel-body panel-body-padding">
                            <div class="row">
                                <div class="col-lg-11  col-md-11  col-sm-10 col-xs-12">
                                    <p>
                                        {{$ctrl.result.question.options[7]}}
                                    </p>
                                </div>
                                <div class="col-lg-1  col-md-1  col-sm-2 col-xs-12 question-select">
                                    <select ng-model="$ctrl.val8" ng-options="val for val in $ctrl.valuesOption"
                                            class="form-control input-sm">
                                        <option value="">0</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button
                    ng-click="$ctrl.clickButton()"
                    type="button"
                    class="btn-lg btn-custom btn-right">
                Далее
            </button>
        </div>
    </div>

    <div ng-if="$ctrl.numberAnswer" class="row error-type">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <h4>Текущее количество баллов {{$ctrl.validation.sum}}.</h4>
            <h4>В сумме баллы должны быть равны 10!</h4>
        </div>
    </div>

    <div ng-if="$ctrl.numberAnswerEmpty" class="row error-type">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <h4>Текущее количество баллов 0.</h4>
            <h4>В сумме баллы должны быть равны 10!</h4>
        </div>
    </div>

    <div ng-if="$ctrl.blockAnswer" class="row error-type">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <h4>Вы ответили на {{$ctrl.validation.answer_block}} блоков.</h4>
            <h4>Максимальное количество блоков 4!</h4>
        </div>
    </div>
</div>


<footer class="footer">
</footer>